In [1]:
import pandas as pd
from datetime import datetime,timedelta,time
import numpy as np
df=pd.read_csv("D:\eyantra\Book2.csv")

#### ARRANGING IN ASCENDING ORDER ACCORDING TO MEDICATION TIME

In [2]:
df['medicine']=pd.to_datetime(df['medicine'],format='%H:%M:%S')
df.sort_values(by = 'medicine', ascending = True,inplace=True)
df

      name            medicine       tablet
0     zara 1900-01-01 12:53:10       crocin
1   harita 1900-01-01 12:53:30  cough syrup
2     mira 1900-01-01 12:53:30         P650
3     laya 1900-01-01 12:53:50         dolo
7     esha 1900-01-01 23:44:00      aspirin
6   ananya 1900-01-01 23:46:00         P650
9    abhay 1900-01-01 23:50:00         dolo
10  jithin 1900-01-01 23:51:00       crocin
5   ananya 1900-01-01 23:55:00      aspirin
4   shriya 1900-01-01 23:56:00         dolo
8     esha 1900-01-01 23:56:00       crocin
11    john 1900-01-01 23:59:00  cough syrup

In [3]:
times=df['medicine'].tolist()
timesec=[]
for i in range(len(times)-1):
    diff=times[i+1]-times[i]
    timesec.append(diff)
timesec.append('1000000000')
df['timediff']=timesec

In [4]:
listt=df['timediff'].tolist()
newlist=[]
for i in listt:
    b=i / np.timedelta64(1, 's')
    newlist.append(b)
df.drop('timediff', 1, inplace=True)
df['original sec']=newlist
a=[]
for i in newlist:
    if(i>300):
        b=i-300
    else:
        b=i
    a.append(b)
df['5minprior']=a  
df['medicine']=pd.to_datetime(df['medicine'],format='%H:%M:%S').dt.time

In [5]:
timelist=df['medicine'].tolist()
secondslist=df['5minprior'].tolist()
names=df['name'].tolist()

In [6]:
timest=[]
for i in timelist:
    abcd=i.strftime('%H:%M:%S')
    timest.append(abcd)
checkduplicate=[] #list which has no redundant timestamp
for i in timest:
    if (i not in checkduplicate):
        checkduplicate.append(i)

#### GROUPING ACCORDING TO MEDICATION TIME

In [7]:
a=[i for i in a if i!=0.0]
newlist=(df.groupby('medicine')['name'].apply(list)).tolist()
t=(df.groupby('medicine')['tablet'].apply(list)).tolist()
v=list(zip(newlist,checkduplicate,t,a))

In [8]:
for i in v:
    print(i)

(['zara'], '12:53:10', ['crocin'], 20.0)
(['harita', 'mira'], '12:53:30', ['cough syrup', 'P650'], 20.0)
(['laya'], '12:53:50', ['dolo'], 38710.0)
(['esha'], '23:44:00', ['aspirin'], 120.0)
(['ananya'], '23:46:00', ['P650'], 240.0)
(['abhay'], '23:50:00', ['dolo'], 60.0)
(['jithin'], '23:51:00', ['crocin'], 240.0)
(['ananya'], '23:55:00', ['aspirin'], 60.0)
(['shriya', 'esha'], '23:56:00', ['dolo', 'crocin'], 180.0)
(['john'], '23:59:00', ['cough syrup'], 1.0)

In [9]:
n1=pd.DataFrame(v,columns=['name','time_for_med','tablet','timedifference'])
n1

             name time_for_med               tablet  timedifference
0          [zara]     12:53:10             [crocin]            20.0
1  [harita, mira]     12:53:30  [cough syrup, P650]            20.0
2          [laya]     12:53:50               [dolo]         38710.0
3          [esha]     23:44:00            [aspirin]           120.0
4        [ananya]     23:46:00               [P650]           240.0
5         [abhay]     23:50:00               [dolo]            60.0
6        [jithin]     23:51:00             [crocin]           240.0
7        [ananya]     23:55:00            [aspirin]            60.0
8  [shriya, esha]     23:56:00       [dolo, crocin]           180.0
9          [john]     23:59:00        [cough syrup]             1.0

In [10]:
from win10toast import ToastNotifier
from datetime import datetime
import time
n=ToastNotifier()

In [11]:
while(True):
    for (k1,k2,k3,k4) in zip(n1['name'],n1['time_for_med'],n1['tablet'],n1['timedifference']):         
        while(True):
            now = datetime.now()
            st=now.strftime("%H:%M:%S")
            if(k2==st):
                msg=""
                for i in range(len(k1)):
                    msg+=k1[i]+" "+"needs"+" "+ k3[i] +" " "at"" " + k2 +"\n"
                title = "Medicine Reminder"
                desc = msg 
                time = 15
                n.show_toast(title,desc,icon_path="D:\eyantra\lll.ico",duration=time)
                try:
                    self.classAtom = RegisterClass(self.wc)
                except Exception as e:
                    pass
                time.sleep(k4)
                break
    time.sleep(1)